<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Jackson Donovan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header class="container allheads">
      <nav class="row">
        <div class="head col-sm-4" align="left">
          <h1>Jackson</h1>
        </div>
        <div class="heads col-sm-8" align="right">
          <ul>
            <li><a href="/about">Gallery</a></li>
            <li><a href="/contact">My Interests</a></li>
            <li><a href="/more">Contact Me</a></li>
          </ul>
        </div>
      </nav>

    </header>
    <gallery></gallery>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="/app.module.js"></script>
  </body>
</html>
