<div class="container">
  <div class="row col-sm-12">
    <div class="lightbox inner" align="center">
      <h2 style="margin-left:35px;"class="titletitle">Connect</h2>
      <ul>
        <li><img style="height:48px;width:50px;margin-bottom:-25px;" class="smalllogo" src="https://www.shareicon.net/download/2015/05/26/44497_gmail_512x512.png" alt=""></li>
        <li><h2>jacksondonovandevelops@gmail.com</h2></li>
        <li><img style="height:30px;" class="smalllogo" src="./images/linkedin-Icon-Transparent.png" alt=""></li>
        <li><h2>linkedin/in/jacksondonovan</h2></li>
        <li><img style="height:30px;" class="smalllogo" src="./images/githubLogo.png" alt=""></li>
        <li><h2>github.com/jacksondonovan</h2></li>
      </ul>
      <h3>Send me a message and I'll get back to you ASAP!</h3>
    </div>
  </div>

</div>


<div class="container">
  <div class="row col-sm-12">
    <div class="lightbox quote" align="center">
      <h4 style="width:65%;">"The next Bill Gates won't build an operating system.</h4>
      <h4 style="width:65%;">The next Larry Page or Sergey Brin won't build a search engine.</h4>
      <h4 style="width:65%;">The next Mark Zuckerberg won't create a social network. If you are copying these guys, you aren't learning from them."</h4>
      <h4>- Peter Thiel  </h4>
    </div>
  </div>

</div>
