<div class="">
  <h2>Reach out to me!</h2>
  <ul>
    <li>jacksondonovandevelops@gmail.com</li>
    <li>linkedin/in/jacksondonovan</li>
    <li>github.com/jacksondonovan</li>
  </ul>
</div>
<h3>Send me a message and I'll get back to you ASAP!</h3>
