<div class="">
  <h1>My interests include:</h1>
  <ul>
    <li>Business / Marketing</li>
    <li>Baseball</li>
    <li>Computer Science</li>
    <li>Puzzles</li>
    <li>Playing Piano</li>
    <li>Rubiks Cube</li>
    <li>Juggling</li>
    <li>Stock Market</li>
  </ul>
</div>
