<div class="container">
  <div class="lightbox">

    <div class="row col-sm-12" style="margin-top:10px;">
      <div class="col-sm-12" align="center">
        <h2 class="titletitle">Interests</h2>
        <br>
      </div>
      <div class="col-sm-3 margup">
        <img style="height:250px;" src="https://ak2.picdn.net/shutterstock/videos/1947439/thumb/1.jpg?i10c=img.resize(height:160)" alt="">
      </div>
      <div class="col-sm-3 margup">
        <img style="height:250px;" src="./images/jacksonOutdoorPose.jpg" alt="">
      </div>

      <div class="col-sm-3 margup">
        <img style="height:250px;" src="https://ak6.picdn.net/shutterstock/videos/13429967/thumb/1.jpg" alt="">
      </div>
      <div class="col-sm-3 margup">
        <img style="height:250px;" src="./images/jacksonBandImg.jpg" alt="">
      </div>
    </div>
    <div class="row col-sm-12">
      <div class="col-sm-3">
        <p>Business has always been one of my biggest interests. Following the tech titan's rise in Silicon Valley has fascinated me and motivated me to learn programming.</p>
      </div>
      <div class="col-sm-3">
        <p>Sports and the outdoors have been a big part of my life since day one. Moving out here to Denver was an easy decision considering its unsurpassed mountains and sunshine.</p>
      </div>
      <div class="col-sm-3">
        <p>Chess is more than just a board game. From a young age I would play fellow students, teachers and in tournaments. Chess teaches mindsets that helps not just in programming but in all aspects of life.</p>
      </div>
      <div class="col-sm-3">
        <p>Listening to music is relaxing, playing music is empowering. I taught myself the piano, guitar and bass just to see if I could do it. Music liberates me to say "I could do that", and then do it.</p>
      </div>
    </div>

    <div class="interests col-sm-12" align="center">
      <h3>In an age where binge watching TV is now our national past time, I try extra hard to keep challenging myself and learn new skills.</h3>
    </div>
    <div class="col-sm-12" align="center">
      -------------------------------------------------------------------
    </div>
    <div class="interests col-sm-12" align="center">
      <h4>Interested in my interests? Let's chat!</h4>
    </div>
    <div class="col-sm-12" align="center">
      <h4><a href="#/contact">Contact Me</a></h4>
    </div>
    <div class="col-sm-12" align="center">
      -------------------------------------------------------------------
    </div>
  </div>

</div>
