<div class="container">
  <div class="lightbox">

    <div class="row col-sm-12" style="margin-top:10px;">
      <div class="col-sm-12" align="center">
        <h2 class="titletitle">Interests</h2>
        <br>
      </div>
      <div class="col-sm-6 margup">
        <img src="https://ak2.picdn.net/shutterstock/videos/1947439/thumb/1.jpg?i10c=img.resize(height:160)" alt="">
        <p>Among all of my hobbies, business is my most passionate interest. After studying Business Administration with a concentration in Marketing at the University of Vermont, I knew my mindset would never be the same. Beyond the well-known subsection of advertising, marketing has shown me how businesses use analytics to help inform them of how to compete in their respective markets. Everyday I follow the rise and fall of Silicon Valley's tech giants. As Google, Amazon, Facebook and Apple continue to creep into our everyday lives, I can't think of anything more interesting than marketing. The vast world of commerce has helped me question how and why things are done; an excellent mentality for a young web developer.</p>
      </div>
      <div class="col-sm-6 margup">
        <img src="https://scontent.fapa1-2.fna.fbcdn.net/v/t31.0-8/13528342_10154277621162350_684141592703640677_o.jpg?oh=44a5889d431a1ca241a06c0d69a85d40&oe=5A359BF0" alt="">
        <p>I grew up playing a number of sports. My absolute favorite was and still is baseball. Playing a team sport from a young age is important. Working together to accomplish a common goal is a very rewarding feeling that still excites me to this day. Throughout high school and college the baseball diamond was a place to get together with friends and have a good time. In baseball, my allegiance falls with the Los Angeles Dodgers. After my career in coding, I plan to succeed Vin Scully as the Dodgers' play-by-play broadcaster. Go LA!</p>
      </div>
    </div>
    <div class="row col-sm-12" style="margin-top:10px;">
      <div class="col-sm-6 margup">
        <img src="https://ak6.picdn.net/shutterstock/videos/13429967/thumb/1.jpg" alt="">
        <p>I attribute most of my analytical mindset to my favorite board game: Chess. From a very young age, I played in tournaments and challenged my teachers to this game. The basic, "if this, then that" thought process in chess has helped me solve nearly every challenge that I've faced to this day. Acedemics, coding or personal challenges can all be broken down into that thought process. Chess became the gateway to enjoying other puzzles, most enjoyable being the timeless toy: The Rubik's Cube.</p>
      </div>
      <div class="col-sm-6 margup">
        <img src="https://scontent.fapa1-2.fna.fbcdn.net/v/t31.0-8/12698608_10208682622764378_8582485325027472119_o.jpg?oh=2a963fef4cf052d56be505636690fdeb&oe=59FA935A" alt="">
        <p>Music is more than just an interest. Teaching myself how to play both the guitar and the piano has been character building. Being patient and persistent is not the easiest task. Some of my biggest musical influences include Pink Floyd, Queen, Rolling Stones and Elton John. With my unique learning style and the discovery of four-chord songs, I started creating the Music Box. Check out the gallery page and look at the Music Box.</p>
      </div>
    </div>

    <div class="interests col-sm-12" align="center">
      <h3>In an age where binge watching TV is now our national past time, I try extra hard to keep challenging myself and learn new skills.</h3>
    </div>
    <div class="col-sm-12" align="center">
      -------------------------------------------------------------------
    </div>
    <div class="interests col-sm-12" align="center">
      <h4>Interested in my interests? Let's chat!</h4>
    </div>
    <div class="col-sm-12" align="center">
      <h4><a href="#/contact">Contact Me</a></h4>
    </div>
    <div class="col-sm-12" align="center">
      -------------------------------------------------------------------
    </div>
  </div>

</div>
