<div class="container">
  <div class="lightbox">

    <div class="row col-sm-12" style="margin-top:10px;">
      <div class="col-sm-6">
        <img src="https://scontent.fapa1-2.fna.fbcdn.net/v/t31.0-8/13528342_10154277621162350_684141592703640677_o.jpg?oh=44a5889d431a1ca241a06c0d69a85d40&oe=5A359BF0" alt="">
        <p>Here is some text</p>
      </div>
      <div class="col-sm-6">
        <img src="https://scontent.fapa1-2.fna.fbcdn.net/v/t31.0-8/13528342_10154277621162350_684141592703640677_o.jpg?oh=44a5889d431a1ca241a06c0d69a85d40&oe=5A359BF0" alt="">
        <p>Here is some text</p>
      </div>
    </div>
    <div class="row col-sm-12" style="margin-top:10px;">
      <div class="col-sm-6">
        <img src="https://scontent.fapa1-2.fna.fbcdn.net/v/t31.0-8/13528342_10154277621162350_684141592703640677_o.jpg?oh=44a5889d431a1ca241a06c0d69a85d40&oe=5A359BF0" alt="">
        <p>Here is some text</p>
      </div>
      <div class="col-sm-6">
        <img src="https://scontent.fapa1-2.fna.fbcdn.net/v/t31.0-8/13528342_10154277621162350_684141592703640677_o.jpg?oh=44a5889d431a1ca241a06c0d69a85d40&oe=5A359BF0" alt="">
        <p>Here is some text</p>
      </div>
    </div>
    
    <div class="interests">
      <h1>My interests include:</h1>
      <ul>
        <li>Business / Marketing</li>
        <li>Baseball</li>
        <li>Computer Science</li>
        <li>Puzzles</li>
        <li>Playing Piano</li>
        <li>Rubiks Cube</li>
        <li>Juggling</li>
        <li>Stock Market</li>
      </ul>
    </div> -->

  </div>

</div>
